div.fancy-select {
	position: relative;
	font-family: 'Montserrat',sans-serif;
 	font-weight: 400;
	color: #2f3230;
	font-size: 14px;
	border: none;
}

div.fancy-select.disabled {
	opacity: 0.5;
}

div.fancy-select select:focus + div.trigger {
	box-shadow: 0 0 0 2px #4B5468;
}

div.fancy-select select:focus + div.trigger.open {
	box-shadow: none;
}

div.fancy-select div.trigger {
	cursor: pointer;
	padding: 10px 24px 9px 9px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	position: relative;
	background: white;
	/*border: 1px solid #7E7E7E;*/
	color: #4B5468;
	/*//box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);*/
	width: 100%;
	padding: 18px;

	/*transition: all 240ms ease-out;
	-webkit-transition: all 240ms ease-out;
	-moz-transition: all 240ms ease-out;
	-ms-transition: all 240ms ease-out;
	-o-transition: all 240ms ease-out;*/
}

div.fancy-select div.trigger:after {
	content: "";
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	border: 5px solid transparent;
	border-top-color: #4B5468;
	top: 21px;
	right: 25px;
}

/*div.fancy-select div.trigger.open {
	border: 1px solid #475062;
	color: #7A8498;
	box-shadow: none;
}*/

/*div.fancy-select div.trigger.open:after {
	border-top-color: #7A8498;
}*/

div.fancy-select ul.options {
	list-style: none;
	margin: 0;
	position: absolute;
	top: 33px;
	left: 0;
	visibility: hidden;
	opacity: 0;
	z-index: 500;
	width:100%;
	overflow: auto;
	background: #2f3230;
	height: 200px;

	/*transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
	-webkit-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
	-moz-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
	-ms-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
	-o-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;*/
}

div.fancy-select ul.options.open {
	visibility: visible;
	top: 57px;
	opacity: 1;

	/* have to use a non-visibility transition to prevent this iOS issue (bug?): */
	/*http://stackoverflow.com/questions/10736478/css-animation-visibility-visible-works-on-chrome-and-safari-but-not-on-ios*/
	/*transition: opacity 300ms ease-out, top 300ms ease-out;
	-webkit-transition: opacity 300ms ease-out, top 300ms ease-out;
	-moz-transition: opacity 300ms ease-out, top 300ms ease-out;
	-ms-transition: opacity 300ms ease-out, top 300ms ease-out;
	-o-transition: opacity 300ms ease-out, top 300ms ease-out;*/
}
/*
div.fancy-select ul.options.overflowing {
	top: auto;
	bottom: 40px;

	transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
	-webkit-transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
	-moz-transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
	-ms-transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
	-o-transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
}

div.fancy-select ul.options.overflowing.open {
	top: auto;
	bottom: 33px;

	transition: opacity 300ms ease-out, bottom 300ms ease-out;
	-webkit-transition: opacity 300ms ease-out, bottom 300ms ease-out;
	-moz-transition: opacity 300ms ease-out, bottom 300ms ease-out;
	-ms-transition: opacity 300ms ease-out, bottom 300ms ease-out;
	-o-transition: opacity 300ms ease-out, bottom 300ms ease-out;
}*/

div.fancy-select ul.options li {
	padding: 20px;
	cursor: pointer;
	white-space: nowrap;
	color: #FFF;

	/*transition: all 150ms ease-out;
	-webkit-transition: all 150ms ease-out;
	-moz-transition: all 150ms ease-out;
	-ms-transition: all 150ms ease-out;
	-o-transition: all 150ms ease-out;*/
}

div.fancy-select ul.options li:hover,
div.fancy-select ul.options li.selected {
	color: #fccd41;
}


.options li {
	color: #2f3230;
	font-family: 'Montserrat',sans-serif;
 	font-weight: 400;
	font-style: normal;
	margin-right: 0 !important;
}



